@import 'normalize.css';
@import './_variables';

body {
    overflow: hidden;
    background: var(--background-color);
}

.gamestick-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.gamestick-header {

}

.gamestick {
    display: flex;
    flex: 1 1 auto;

    & > * {
        flex: 0 1 auto;
    }

    & .stick-base {
        align-self: flex-end;
        margin: 32px;
    }
}

.camera-display {
    flex: 1 1 auto;
}

.button {
    background: var(--background-color);
}
