@import 'normalize.css';
@import './_variables';

body {
    overflow: hidden;
    background: var(--background-color);
}

.gamestick-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.gamestick-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    padding: 5px;
}

.gamestick {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    justify-content: space-between;

    & > * {
        flex: 0 0 auto;
    }

    & .stick-base {
        align-self: flex-end;
        margin: 32px;
    }
}

.camera-display {
    /*flex: 1 1 auto;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.camera-display canvas {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: var(--black);
}

.button {
    background: var(--background-color);
}

input[type="checkbox"].toggle-button {
    position: absolute;
    left: -1000px;
}

input[type="checkbox"].toggle-button ~ label {
    display: inline-block;
    position: relative;
    background-color: #505050;
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
}

.toggle-button-switch {
    display: block;
    margin: 0.2rem;
    width: 1.6rem;
    height: 1.6rem;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.3s ease-in-out;
}

.toggle-button:checked ~ label > .toggle-button-switch {
    left: calc(100% - 2rem);
}

.action-camera-power-toggle ~ label .toggle-button-switch {
    background-color: transparent;
    background-image: url(images/camera-icon-sprite.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.action-camera-power-toggle:checked ~ label .toggle-button-switch {
    animation: play 0.3s steps(14) 1 forwards;
}

.action-camera-power-toggle:not(:checked) ~ label .toggle-button-switch {
    animation: play-back 0.3s steps(14) 1 forwards;
}

@keyframes play {
    0% { background-position-x: calc(-1.6rem * 14); }
   100% { background-position-x: 0; }
}

@keyframes play-back {
    0% { background-position-x: 0; }
   100% { background-position-x: calc(-1.6rem * 14); }
}
